$heading-color: #00008b;
$font-stack: Arial, "sans-serif";
$bp-med: "720px";

.h1 {
  color: $heading-color;
  font-family: $font-stack;
}

.h2 {
  font-size: 3rem;
  margin-top: 0;
}

.root {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.button {
  font-size: 1rem;
  padding: .5rem;
  margin: 0 .5rem;
}

.logo {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
}

@media (min-width: $bp-med) {
  .logo,
  .counter {
    float: left;
  }
  .logo {
    max-width: 85px;
  }
  .counter {
    padding-left: 2rem;
    width: 60%;
  }
}